* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.videoInicio {
  padding-top: 400px;
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 20px #7e0d0d;
  border-radius: 20px; }
  .videoInicio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

h3 p {
  color: darkslategray;
  background-color: lemonchiffon;
  font-size: 17px; }

h3 {
  color: grey; }

div label {
  color: black; }

.fondoCompleto {
  background-image: url("../media/imagenes/fondo-album.jpg");
  background-size: cover; }

.fondoMerchandising {
  background-color: white; }

/*FOOTERS*/
.copy p {
  justify-content: right;
  text-align: right;
  color: black; }

.footer1 {
  margin: 30px; }

.footer2 {
  justify-content: center;
  align-content: center; }
  .footer2 a {
    margin: 10px; }

.imgFooter {
  width: 20px;
  justify-content: center; }

.princFondo {
  background-image: url(../media/imagenes/fondorojo2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.fondoBanda {
  background-color: #9e9090; }

.fondoCons {
  background-color: #ebd6bd; }

.letraHist p {
  font-family: 'Cormorant Garamond', serif;
  background-color: #dac7ae;
  line-height: 20px;
  word-spacing: 5px;
  letter-spacing: 2px;
  text-align: justify;
  grid-area: historia; }

.integrantes {
  background-color: antiquewhite;
  /*width: 25%;
    height: 40VH;*/
  /*float: left;*/
  font-family: 'Cormorant Garamond', serif;
  line-height: 20px;
  word-spacing: 5px;
  letter-spacing: 2px;
  border: solid 2px gray;
  text-align: justify;
  grid-area: integrantes;
  float: left;
  /*overflow: auto;*/
  width: 400px;
  height: 250px; }

.integrantes__titulo {
  color: lightblue;
  text-align: center; }

.sencillos__titulo {
  color: lightblue;
  text-align: center; }

.sencillos {
  background-color: tan;
  /*width: 25%;
    height: 70VH;*/
  /*float: left;*/
  font-family: 'Cormorant Garamond', serif;
  line-height: 20px;
  word-spacing: 5px;
  letter-spacing: 2px;
  border: solid 2px gray;
  text-align: justify;
  grid-area: sencillos;
  float: left;
  /*overflow: auto;*/
  width: 400px;
  height: 400px; }

.fondo-tan {
  background-color: tan; }

.fondo-antiquewhite {
  background-color: antiquewhite; }

.fondo-#dac7ae {
  background-color: #dac7ae; }

.imagen {
  display: flex;
  float: center;
  justify-content: center;
  width: 80%;
  margin: 5%; }

.banda {
  display: grid;
  grid-template-areas: 'sencillos integrantes';
  grid-template-columns: 200px;
  justify-items: center;
  padding: 5%;
  margin: 5%; }

/*MERCHANDISING*/
.merch {
  text-align: center;
  margin: 50px;
  color: #611212;
  font-family: 'Rajdhani', sans-serif;
  font-size: 400%;
  border-top: solid 5px #611212;
  border-bottom: solid 5px #611212; }

.buzo1 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.buzo2 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.buzo3 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.remera1 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.remera2 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.remera3 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.poster1 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.poster2 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.poster3 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.fotosHidden {
  overflow: hidden; }

.imagenMerch {
  filter: grayscale(100%); }

.imagenMerch:hover {
  transform: scale(1.1, 1.1);
  filter: grayscale(0%); }

.info {
  color: #611212;
  text-decoration: none;
  justify-items: center;
  text-align: center;
  padding: 10px;
  font-family: 'Rajdhani', sans-serif; }
  .info a {
    color: #611212; }
  .info :hover {
    transform: none; }

/*FECHAS*/
.error {
  background-color: black;
  background-image: url(../media/imagenes/unnamed.6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit; }

.errorLetra {
  color: white;
  text-align: center;
  font-size: 200%;
  margin: 2rem; }

.errorBoton {
  position: left; }

.menu {
  padding: 20px;
  font-size: 1rem;
  text-align: center;
  justify-items: center;
  /*
    width: 35%;*/
  justify-content: center; }

/*MOBILE*/
@media only screen and (max-width: 576px) {
  .error {
    background-color: black;
    background-image: url(../media/imagenes/fondo-celular.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit; }
  .errorLetra {
    color: white;
    text-align: center;
    font-size: 150%;
    margin: 2rem; }
  .errorBoton {
    justify-items: right-end;
    justify-content: right; } }

/* ESCRITORIO */
/* TABLET */
