* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.menu {
  padding: 20px;
  margin: 20px;
  font-size: 110%;
  font-family: 'Rajdhani', sans-serif; }

/* THE STROKES*/
.videoInicio {
  padding-top: 400px;
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 20px #7e0d0d;
  border-radius: 20px; }
  .videoInicio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.fondoInicio {
  background-image: url(../media/imagenes/fondorojo2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/*THE STROKES*/
/*BANDA*/
.fondoBanda {
  background-color: white(158, 144, 144); }

.imagen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%; }

.this {
  margin-top: 40px;
  padding: 50px;
  grid-area: this; }

.room {
  margin-top: 40px;
  padding: 50px;
  grid-area: room; }

.firts {
  margin-top: 40px;
  padding: 50px;
  grid-area: firts; }

.angles {
  margin-top: 40px;
  padding: 50px;
  grid-area: angles; }

.comedown {
  margin-top: 40px;
  padding: 50px;
  grid-area: comedown; }

.abnormal {
  margin-top: 40px;
  padding: 50px;
  grid-area: abnormal; }

.texto1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 120%;
  text-align: justify;
  display: grid;
  place-items: center;
  padding: 40px;
  grid-area: texto1; }

.texto2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 120%;
  text-align: justify;
  display: grid;
  place-items: center;
  padding: 40px;
  grid-area: texto2; }

.texto3 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 120%;
  text-align: justify;
  display: grid;
  place-items: center;
  padding: 40px;
  grid-area: texto3; }

.texto4 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 120%;
  text-align: justify;
  display: grid;
  place-items: center;
  padding: 40px;
  grid-area: texto4; }

.texto5 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 120%;
  display: grid;
  place-items: center;
  padding: 40px;
  grid-area: texto5; }

.texto6 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 120%;
  display: grid;
  place-items: center;
  padding: 40px;
  grid-area: texto6; }

.banda {
  display: grid;
  grid-template-areas: 'this texto1' 'texto2 room' 'firts texto3' 'texto4 angles' 'comedown texto5' 'texto6 abnormal';
  grid-template-columns: 50% 50%;
  grid-template-rows: 20%;
  justify-items: center;
  align-items: center;
  padding: 5%;
  margin: 5%; }

.menuBanda {
  padding: 20px;
  margin: 20px;
  font-size: 110%;
  font-family: 'Rajdhani', sans-serif;
  border-top: solid 2px black;
  border-bottom: solid 2px black; }

.textoBanda {
  margin-top: 10%;
  text-align: center;
  font-family: 'Rajdhani', sans-serif; }

/*BANDA*/
/*MERCHANDISING*/
.merch {
  text-align: center;
  margin: 50px;
  color: #611212;
  font-family: 'Rajdhani', sans-serif;
  font-size: 400%;
  border-top: solid 5px #611212;
  border-bottom: solid 5px #611212; }

.buzo1 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.buzo2 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.buzo3 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.remera1 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.remera2 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.remera3 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.poster1 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.poster2 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.poster3 {
  background-color: beige;
  padding: 20px;
  margin: 20px; }

.fotosHidden {
  overflow: hidden; }

.imagenMerch {
  filter: grayscale(100%); }

.imagenMerch:hover {
  transform: scale(1.1, 1.1);
  filter: grayscale(0%); }

.info {
  color: #611212;
  text-decoration: none;
  justify-items: center;
  text-align: center;
  padding: 10px;
  font-family: 'Rajdhani', sans-serif; }
  .info a {
    color: #611212; }
  .info :hover {
    transform: none; }

/*MERCHANDISING*/
/*FECHAS*/
.error {
  background-color: black;
  background-image: url(../media/imagenes/unnamed.6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit; }

.errorLetra {
  color: white;
  text-align: center;
  font-size: 200%;
  margin: 2rem; }

.errorBoton {
  position: left; }

/*FECHAS*/
/*CONSULTAS*/
.fondoConsultas {
  background-image: url(../media/imagenes/fondo-cons.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.letras2 {
  color: whitesmoke;
  font-family: 'Rajdhani', sans-serif; }

.consulta {
  width: 50%; }

/*CONSULTAS*/
/*FOOTERS*/
.copy p {
  justify-content: right;
  text-align: right;
  color: black; }

.footer1 {
  margin: 30px;
  clear: left; }

.footer2 {
  justify-content: center;
  align-content: center; }
  .footer2 a {
    margin: 10px; }

.imgFooter {
  width: 20px;
  justify-content: center; }

/*FOOTERS*/
/* TABLET */
@media only screen and (max-width: 768px) {
  .this {
    margin-top: 40px;
    grid-area: this; }
  .room {
    margin-top: 40px;
    grid-area: room; }
  .firts {
    margin-top: 40px;
    grid-area: firts; }
  .angles {
    margin-top: 40px;
    grid-area: angles; }
  .comedown {
    margin-top: 40px;
    grid-area: comedown; }
  .abnormal {
    margin-top: 40px;
    grid-area: abnormal; }
  .texto1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 100%;
    width: 120%;
    height: 100%;
    text-align: justify;
    display: grid;
    place-items: center;
    grid-area: texto1; }
  .texto2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 100%;
    width: 120%;
    height: 100%;
    text-align: justify;
    display: grid;
    place-items: center;
    grid-area: texto2; }
  .texto3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 100%;
    width: 110%;
    height: 100%;
    text-align: justify;
    display: grid;
    place-items: center;
    grid-area: texto3; }
  .texto4 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100%;
    text-align: justify;
    display: grid;
    place-items: center;
    grid-area: texto4; }
  .texto5 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 100%;
    width: 110%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-area: texto5; }
  .texto6 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 100%;
    width: 110%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-area: texto6; }
  .banda {
    display: grid;
    grid-template-areas: 'this texto1' 'texto2 room' 'firts texto3' 'texto4 angles' 'comedown texto5' 'texto6 abnormal';
    grid-template-columns: 50% 50%;
    grid-template-rows: 20%;
    justify-items: center;
    align-items: center; }
  .textoBanda {
    font-size: 80%;
    padding: 40px; } }

/* ESCRITORIO */
@media only screen and (min-width: 992px) {
  .this {
    margin-top: 40px;
    padding: 50px;
    grid-area: this; }
  .room {
    margin-top: 40px;
    padding: 50px;
    grid-area: room; }
  .firts {
    margin-top: 40px;
    padding: 50px;
    grid-area: firts; }
  .angles {
    margin-top: 40px;
    padding: 50px;
    grid-area: angles; }
  .comedown {
    margin-top: 40px;
    padding: 50px;
    grid-area: comedown; }
  .abnormal {
    margin-top: 40px;
    padding: 50px;
    grid-area: abnormal; }
  .texto1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 120%;
    text-align: justify;
    display: grid;
    place-items: center;
    padding: 40px;
    grid-area: texto1; }
  .texto2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 120%;
    text-align: justify;
    display: grid;
    place-items: center;
    padding: 40px;
    grid-area: texto2; }
  .texto3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 120%;
    text-align: justify;
    display: grid;
    place-items: center;
    padding: 40px;
    grid-area: texto3; }
  .texto4 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 120%;
    text-align: justify;
    display: grid;
    place-items: center;
    padding: 40px;
    grid-area: texto4; }
  .texto5 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 120%;
    display: grid;
    place-items: center;
    padding: 40px;
    grid-area: texto5; }
  .texto6 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 120%;
    display: grid;
    place-items: center;
    padding: 40px;
    grid-area: texto6; }
  .banda {
    display: grid;
    grid-template-areas: 'this texto1' 'texto2 room' 'firts texto3' 'texto4 angles' 'comedown texto5' 'texto6 abnormal';
    grid-template-columns: 50% 50%;
    grid-template-rows: 20%;
    justify-items: center;
    align-items: center;
    padding: 5%;
    margin: 5%; } }

/*MOBILE*/
@media only screen and (max-width: 576px) {
  .error {
    background-color: black;
    background-image: url(../media/imagenes/fondo-celular.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit; }
  .errorLetra {
    color: white;
    text-align: center;
    font-size: 150%;
    margin: 2rem; }
  .errorBoton {
    justify-items: right-end;
    justify-content: right; }
  .this {
    margin-top: 20px;
    padding: 20px;
    grid-area: this; }
  .room {
    margin-top: 20px;
    padding: 50px;
    grid-area: room; }
  .firts {
    margin-top: 20px;
    padding: 50px;
    grid-area: firts; }
  .angles {
    margin-top: 20px;
    padding: 50px;
    grid-area: angles; }
  .comedown {
    margin-top: 20px;
    padding: 50px;
    grid-area: comedown; }
  .abnormal {
    padding: 20px;
    grid-area: abnormal; }
  .texto1 {
    font-family: 'Rajdhani', sans-serif;
    width: 110%;
    height: 100%;
    font-size: 90%;
    text-align: justify;
    display: grid;
    place-items: center;
    padding: 20px;
    grid-area: texto1; }
  .texto2 {
    font-family: 'Rajdhani', sans-serif;
    width: 110%;
    height: 100%;
    font-size: 90%;
    text-align: justify;
    display: grid;
    place-items: center;
    padding: 20px;
    grid-area: texto2; }
  .texto3 {
    font-family: 'Rajdhani', sans-serif;
    width: 110%;
    height: 100%;
    font-size: 90%;
    text-align: justify;
    display: grid;
    place-items: center;
    padding: 20px;
    grid-area: texto3; }
  .texto4 {
    font-family: 'Rajdhani', sans-serif;
    width: 110%;
    height: 100%;
    font-size: 90%;
    text-align: justify;
    display: grid;
    place-items: center;
    padding: 20px;
    grid-area: texto4; }
  .texto5 {
    font-family: 'Rajdhani', sans-serif;
    width: 110%;
    height: 100%;
    font-size: 90%;
    display: grid;
    place-items: center;
    padding: 20px;
    grid-area: texto5; }
  .texto6 {
    font-family: 'Rajdhani', sans-serif;
    width: 110%;
    height: 100%;
    font-size: 90%;
    display: grid;
    place-items: center;
    padding: 20px;
    grid-area: texto6; }
  .banda {
    display: grid;
    grid-template-areas: 'this' 'texto1' 'room' 'texto2' 'firts' 'texto3' 'angles' 'texto4' 'comedown' 'texto5' 'abnormal' 'texto6';
    grid-template-columns: 100%;
    grid-template-rows: 10%;
    justify-items: center;
    padding: 5%;
    margin: 5%; }
  .textoBanda {
    font-size: 50%;
    padding: 50px; } }
